.picker-container {
  padding-top: 0.125rem;
}

.picker-submit {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.picker-container .ui.items > .item div,
.picker-container .ui.items > .item > .content > .header:not(.ui) {
  color: white;
}
